body{
    background-color: rgb(18, 19, 23);
}
h1{
    color: aliceblue;
}
.wholeContainer{ /*Parent Container*/
    height: 745px;
    width: 50%;
 
    position: relative;

    top: 50px;
    left: 25%;

    
}
/*color for containers*/
#container_1, #container_2, #container_3, #container_4, 
#container_5, #container_6, #container_7, #container_8 {
    background-color: rgb(8, 8, 10);
}
#container_1{ /*My-Profile*/
    height: 55%;
    width: 47%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

}
#container_2{ /*MyQoute*/
    height: 75.3%;
    width: 40%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

    left: 48.5%;
}
.profile-pic{
    height: 100%;
    max-width: 100%;
    border-radius: 20px;

    display: block;
}
#container_3{ /*Projects*/
    height: 18.5%;
    width: 15%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

    top: 56.9%;
}
#container_4{ /*Projects*/
    height: 18.5%;
    width: 15%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

    top: 56.9%;
    left: 16%;
}
#container_5{ /*Projects*/
    height: 18.5%;
    width: 15%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

    top: 56.9%;
    left: 32%;
}

#container_6{ /*contacts*/
    height: 22.5%;
    width: 88.5%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

    top: 77.5%;
}
#container_7{ /*MyQoute*/
    height: 100%;
    width: 10%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 19px;
    position: absolute;

    left: 90%;
}